<div id="filters" class="well">
  <h3>Filter</h3>
  <div id="partners">
    <label for="partner">Partner</label>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#matrix" data-toggle="tab">Matrix</a></li>
  <li><a href="#graphic" data-toggle="tab">Graphic</a></li>
  <li><a href="#headlines" data-toggle="tab">Headlines</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="matrix">
    <div id="goals"></div>
  </div>
  <div class="tab-pane" id="graphic">
    <map name="graph-map">
      <area shape="rect" coords="118,161,377,283" href="javascript:window.router.filterByFocalArea('Responses')" alt="" title="" />
      <area shape="rect" coords="596,161,832,285" href="javascript:window.router.filterByFocalArea('Pressures')" alt="" title="" />
      <area shape="rect" coords="620,452,833,576" href="javascript:window.router.filterByFocalArea('State')" alt="" title="" />
      <area shape="rect" coords="118,453,357,577" href="javascript:window.router.filterByFocalArea('Benefits')" alt="" title="" />
    </map>
    <%= image_tag 'graph.png', :usemap => "#graph-map" %>

    <button class="btn first" onclick="window.router.filterByFocalArea('Responses');return false">Responses</button>
    <button class="btn" onclick="window.router.filterByFocalArea('Pressures');return false">Pressures</button>
    <button class="btn" onclick="window.router.filterByFocalArea('State');return false">State</button>
    <button class="btn" onclick="window.router.filterByFocalArea('Benefits');return false">Benefits</button>
  </div>
  <div class="tab-pane" id="headlines">
    <div id="headlines"></div>
  </div>
</div>

<hr>

<div id="indicators"></div>

<script type="text/javascript">
$(function() {
  window.router = new BIPIndicatorsPage.Routers.IndicatorsRouter({timestamp: '<%= @timestamp %>', indicators: <%= @indicators.to_json(:include => [:targets, :focal_areas, :partners], :methods => :link).html_safe -%>, goals: <%= @goals.to_json(:include => :targets).html_safe -%>, headlines: <%= @headlines.to_json.html_safe -%>, focal_areas: <%= @focal_areas.to_json.html_safe -%>, partners: <%= @partners.to_json.html_safe -%>});
  Backbone.history.start();
});
</script>
