<div class="span8">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#matrix" data-toggle="tab">
        <%= image_tag "tab-matrix.png" %>
        <div>Goals and Targets</div>
      </a>
    </li>
    <li>
      <a href="#graphic" data-toggle="tab">
        <%= image_tag "tab-graphic.png" %>
        <div>Framework</div>
      </a>
    </li>
    <li>
      <a href="#headlines" data-toggle="tab">
        <%= image_tag "tab-headlines.png" %>
        <div>Headline Indicators</div>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="matrix">
      <div id="goals"></div>
    </div>
    <div class="tab-pane" id="graphic">
      <map name="graph-map">
        <area shape="rect" coords="118,161,377,283" href="javascript:window.router.filterByFocalArea('Responses')" alt="" title="" />
        <area shape="rect" coords="596,161,832,285" href="javascript:window.router.filterByFocalArea('Pressures')" alt="" title="" />
        <area shape="rect" coords="620,452,833,576" href="javascript:window.router.filterByFocalArea('State')" alt="" title="" />
        <area shape="rect" coords="118,453,357,577" href="javascript:window.router.filterByFocalArea('Benefits')" alt="" title="" />
      </map>
      <%= image_tag 'graph.png', :usemap => "#graph-map" %>
      <button class="btn first" onclick="window.router.filterByFocalArea('Responses');return false">
        Responses
      </button>
      <button class="btn" onclick="window.router.filterByFocalArea('Pressures');return false">
        Pressures
      </button>
      <button class="btn" onclick="window.router.filterByFocalArea('State');return false">
        State
      </button>
      <button class="btn" onclick="window.router.filterByFocalArea('Benefits');return false">
        Benefits
      </button>
    </div>
    <div class="tab-pane" id="headlines">
      <div id="headlines"></div>
    </div>
  </div>
</div>
<div class="span4">
  <div id="search"></div>
  <div id="filters-and-results">
  <div id="filters" class="row-fluid">
      <div id="partners" class="span6"></div>
      <div id="toggles" class="span6">
        <%= button_tag 'Pre-2010', :disabled => true, :class => "btn btn-mini btn-primary" %>
        <%= button_tag 'Reviewed', :disabled => true, :class => "btn btn-mini btn-primary" %>
      </div>
    </div>
    <div id="indicators"></div>
  </div>
</div>
<script type="text/javascript">
$(function() {
  window.router = new BIPIndicatorsPage.Routers.IndicatorsRouter({
    timestamp: '<%= @timestamp %>',
    fts_data: '<%= @fts_data.to_json.html_safe %>',
    indicators: <%= @indicators.to_json(:include => [:targets, :focal_areas, :partners], :methods => :link).html_safe -%>,
    goals: <%= @goals.to_json.html_safe -%>,
    targets: <%= @targets.to_json.html_safe -%>,
    headlines: <%= @headlines.to_json.html_safe -%>,
    focal_areas: <%= @focal_areas.to_json.html_safe -%>,
    partners: <%= @partners.to_json.html_safe -%>});
  Backbone.history.start();
});
</script>
