<td><%= goal_id %></td>
<td><%= index %></td>
<td><%= keyword %></td>
<td><%= title %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>